.classpath
.project
*.iml
hs_err_pid*
*.tmp
*.bak
*.class
*.log
.settings/
.idea/
/out/
/*/target/
bin/
tmp/
/*/gui/mode_modules/


service/.classpath
service/.gitignore
service/.project
service/.settings/
web/.classpath
web/.gitignore
web/.project
web/.settings/
web/src/main/gui/package-lock.json
web/src/main/resources/static/css/
web/src/main/resources/static/js/